In [1]:
from sklearn import preprocessing
import numpy as np
import pandas as pd
from collections import defaultdict

In [2]:
fields = ['package','forks','stars','so_tag_count','so_question_count','search_results', 'growth_rate']
DF = pd.read_csv('../output/distributed_computing_data.csv', usecols=fields)

In [3]:
DF.dropna(subset = ['search_results', 'growth_rate'], inplace = True)

In [4]:
DF.fillna(0)

,package,forks,stars,so_tag_count,so_question_count,search_results,growth_rate
0,apache storm,3314,4496,2086,2209,44000,-0.205128
1,stratio crossdata,40,154,0,0,83,4.000000
2,kite,203,301,9,330,217,0.444444
3,twitter gizzard,208,2144,0,4,46,-1.000000
4,apache knox,62,37,20,33,1640,-0.280769
5,apache reef,88,72,0,2,266,-0.125000
6,apache tajo,95,97,7,12,1610,-0.539007
7,pachyderm,206,2159,0,6,58,-0.600000
8,nextflow,77,379,0,4,1730,-0.004082
9,apache sqoop,293,334,256,397,6740,-0.108776
10,apache metamodel,74,72,38,61,217,-0.689655
11,apache vxquery,24,15,0,1,1120,2.347561
12,cascalog,179,1308,26,34,1330,0.022727
13,parsely streamparse,1,3,16,25,93,-0.500000
14,datasalt pangool,13,59,0,0,45,0.000000
15,apache parquet,368,456,832,1965,3510,0.765531
16,succinct spark,43,172,0,3,59,-1.000000
17,blaze,294,2119,103,2044,38,-0.500000
19,skale,23,161,0,8,30,-0.750000
20,metamarkets druid,1326,5443,146,304,75,-0.666667
21,distributedr,57,143,0,3,265,-0.806452
22,twitter tsar,0,0,0,1,63,0.000000
24,apache ambari,706,684,465,833,7240,0.291667
25,amplab simr,0,0,0,0,31,0.000000
26,apache calcite,406,514,47,88,1530,-0.309028
27,stratio streaming,137,381,0,9,76,-1.000000
28,apache gora,68,62,39,125,875,0.072727
29,apache helix,75,102,0,14,670,-0.106383
30,apache edgent,107,62,4,6,323,0.140845
31,disco,248,1474,26,1117,195,-0.272727
...,...,...,...,...,...,...,...
106,ceph,2092,3627,171,257,71,-0.666667
108,amazon spice,0,0,0,3,396,0.188679
109,spark-dataflow,60,0,0,30,125,-0.090909
110,apache datafu,147,597,4,11,621,1.294118
111,damballa parkour,19,258,0,0,40,-0.500000
112,microsoft azure stream analytics,0,0,310,378,4420,-0.125677
113,esper,114,298,373,3316,812,-0.037037
114,scaleout hserver,1,3,5,5,166,-0.684211
117,cheetah,66,222,57,394,1610,0.184492
118,facebook corona,0,0,0,55,364,-0.111111
119,addthis hydra,75,396,0,0,105,0.666667
120,trident,115,212,115,2584,46,-0.666667
121,geotrellis,195,608,5,13,1210,0.116129
122,apache hadoop,3476,3754,35431,41804,192000,0.053892
123,facebook peregrine,0,0,0,0,253,0.428571
124,apache avro,569,771,1254,2290,6230,-0.073770
125,apache oozie,306,317,1566,1915,5230,-0.138801
126,concurrent cascading,223,297,318,14370,63,0.000000
127,stratio decision,76,279,0,0,127,-0.684211
128,pydoop,46,122,0,39,793,-0.369231
129,presto,2131,6482,264,274,6700,0.561224
130,jaql,0,2,0,19,5140,0.045061
131,apache lens,79,42,0,17,311,0.107143
132,apache tez,160,152,58,109,3050,-0.313501
133,apache hama,67,110,21,61,1080,-0.550000
134,streamdrill,3,5,0,0,97,0.333333
135,sumo logic,0,0,19,28,7050,0.560000
136,apache orc,89,117,177,1039,740,0.522124
137,microsoft orleans,27,112,0,29,972,-0.055901
138,apache crunch,83,313,35,80,1480,0.065421

In [5]:
#scale the values, such that for each metric: mean = 0 and std = 1
metrics = ['forks','stars','so_tag_count','so_question_count','search_results', 'growth_rate']
scaled_DF = pd.DataFrame(columns=metrics)

for metric in metrics:
    mean = DF[metric].mean()
    std = DF[metric].std()
    scaled_DF[metric] = DF[metric].apply(lambda x: (x-mean)/std)

scaled_DF['package']= DF['package']

In [6]:
scaled_DF

,forks,stars,so_tag_count,so_question_count,search_results,growth_rate,package
0,2.197530,2.162668,0.285872,0.195479,1.233819,-0.349045,apache storm
1,-0.277179,-0.367623,-0.204319,-0.255571,-0.241263,5.405144,stratio crossdata
2,-0.153973,-0.281959,-0.202204,-0.188189,-0.236762,0.539814,kite
3,-0.150193,0.792045,-0.204319,-0.254754,-0.242506,-1.436727,twitter gizzard
4,-0.260550,-0.435804,-0.199619,-0.248833,-0.188967,-0.452550,apache knox
5,-0.240897,-0.415408,-0.204319,-0.255162,-0.235117,-0.239399,apache reef
6,-0.235606,-0.400839,-0.202674,-0.253121,-0.189974,-0.805916,apache tajo
7,-0.151705,0.800786,-0.204319,-0.254346,-0.242103,-0.889377,pachyderm
8,-0.249212,-0.236504,-0.204319,-0.254754,-0.185944,-0.073938,nextflow
9,-0.085944,-0.262728,-0.144161,-0.174508,-0.017668,-0.217199,apache sqoop
10,-0.251479,-0.415408,-0.195389,-0.243115,-0.236762,-1.012059,apache metamodel
11,-0.289273,-0.448625,-0.204319,-0.255367,-0.206433,3.143989,apache vxquery
12,-0.172113,0.304868,-0.198209,-0.248628,-0.199379,-0.037253,cascalog
13,-0.306658,-0.455618,-0.200559,-0.250466,-0.240927,-0.752540,parsely streamparse
14,-0.297587,-0.422984,-0.204319,-0.255571,-0.242540,-0.068353,datasalt pangool
15,-0.029254,-0.191633,-0.008807,0.145657,-0.126157,0.979180,apache parquet
16,-0.274911,-0.357133,-0.204319,-0.254958,-0.242069,-1.436727,succinct spark
17,-0.085189,0.777476,-0.180115,0.161788,-0.242775,-0.752540,blaze
19,-0.290029,-0.363543,-0.204319,-0.253937,-0.243043,-1.094633,skale
20,0.694866,2.714530,-0.170010,-0.193498,-0.241532,-0.980602,metamarkets druid
21,-0.264329,-0.374033,-0.204319,-0.254958,-0.235150,-1.171880,distributedr
22,-0.307414,-0.457366,-0.204319,-0.255367,-0.241935,-0.068353,twitter tsar
24,0.226229,-0.058766,-0.095048,-0.085483,-0.000874,0.330757,apache ambari
25,-0.307414,-0.457366,-0.204319,-0.255571,-0.243010,-0.068353,amplab simr
26,-0.000531,-0.157834,-0.193274,-0.237602,-0.192661,-0.491218,apache calcite
27,-0.203860,-0.235339,-0.204319,-0.253733,-0.241498,-1.436727,stratio streaming
28,-0.256015,-0.421236,-0.195154,-0.230047,-0.214662,0.031166,apache gora
29,-0.250724,-0.397926,-0.204319,-0.252712,-0.221547,-0.213924,apache helix
30,-0.226536,-0.421236,-0.203379,-0.254346,-0.233202,0.124376,apache edgent
31,-0.119958,0.401604,-0.198209,-0.027494,-0.237501,-0.441546,disco
...,...,...,...,...,...,...,...
106,1.273861,1.656260,-0.164135,-0.203095,-0.241666,-0.980602,ceph
108,-0.307414,-0.457366,-0.204319,-0.254958,-0.230750,0.189831,amazon spice
109,-0.262062,-0.457366,-0.204319,-0.249445,-0.239853,-0.192750,spark-dataflow
110,-0.196301,-0.109466,-0.203379,-0.253325,-0.223193,1.702484,apache datafu
111,-0.293052,-0.307017,-0.204319,-0.255571,-0.242708,-0.752540,damballa parkour
112,-0.307414,-0.457366,-0.131472,-0.178388,-0.095592,-0.240326,microsoft azure stream analytics
113,-0.221245,-0.283707,-0.116667,0.421515,-0.216778,-0.119033,esper
114,-0.306658,-0.455618,-0.203144,-0.254550,-0.238475,-1.004608,scaleout hserver
117,-0.257526,-0.327996,-0.190924,-0.175121,-0.189974,0.184101,cheetah
118,-0.307414,-0.457366,-0.204319,-0.244341,-0.231825,-0.220394,facebook corona
119,-0.250724,-0.226598,-0.204319,-0.255571,-0.240524,0.843897,addthis hydra
120,-0.220489,-0.333823,-0.177295,0.272049,-0.242506,-0.980602,trident
121,-0.160019,-0.103055,-0.203144,-0.252916,-0.203410,0.090555,geotrellis
122,2.319981,1.730269,8.121633,8.280278,6.204834,0.005392,apache hadoop
123,-0.307414,-0.457366,-0.204319,-0.255571,-0.235553,0.518093,facebook peregrine
124,0.122675,-0.008067,0.090359,0.212018,-0.034798,-0.169298,apache avro
125,-0.076118,-0.272635,0.163676,0.135448,-0.068386,-0.258285,apache oozie
126,-0.138855,-0.284290,-0.129592,2.678602,-0.241935,-0.068353,concurrent cascading
127,-0.249968,-0.294779,-0.204319,-0.255571,-0.239785,-1.004608,stratio decision
128,-0.272644,-0.386271,-0.204319,-0.247607,-0.217416,-0.573598,pydoop
129,1.303339,3.320004,-0.142281,-0.199623,-0.019012,0.699612,presto
130,-0.307414,-0.456200,-0.204319,-0.251691,-0.071409,-0.006693,jaql
131,-0.247700,-0.432890,-0.204319,-0.252100,-0.233605,0.078259,apache lens
132,-0.186475,-0.368788,-0.190689,-0.233314,-0.141608,-0.497339,apache tez
133,-0.256770,-0.393264,-0.199384,-0.243115,-0.207776,-0.820958,apache hama
134,-0.305146,-0.454452,-0.204319,-0.255571,-0.240793,0.387772,streamdrill
135,-0.307414,-0.457366,-0.199854,-0.249854,-0.007256,0.697937,sumo logic
136,-0.240141,-0.389184,-0.162725,-0.043420,-0.219196,0.646108,apache orc
137,-0.287005,-0.392098,-0.204319,-0.249649,-0.211404,-0.144846,microsoft orleans
138,-0.244677,-0.274966,-0.196094,-0.239236,-0.194341,0.021167,apache crunch

In [7]:
#merge forks and stars to one GitHub metric, Tags and Questions to Stack Overflow
final_DF = pd.DataFrame(columns=['Package', 'Rank', 'Overall', 'Github', 'Stack Overflow', 'Search Results'])
final_DF['Package'] = scaled_DF['package']
final_DF['Github'] = scaled_DF[['forks', 'stars']].mean(axis=1)
final_DF['Stack Overflow'] = scaled_DF[['so_tag_count', 'so_question_count']].mean(axis=1)
final_DF['Search Results'] = scaled_DF[['search_results','growth_rate']].mean(axis=1)
final_DF['Overall'] = final_DF[['Github','Stack Overflow','Search Results']].sum(axis=1)
final_DF['Rank'] = final_DF['Overall'].rank(ascending=0).astype(int)

In [8]:
final_DF.sort_values(['Overall'], axis=0, ascending=False, inplace=True)
final_DF = final_DF.reindex_axis(['Package','Rank','Overall','Github','Stack Overflow','Search Results'], axis=1)
final_DF.style.set_table_styles([
    {'selector': '.row_heading, .blank', 'props': [('display', 'none;')]}
])

In [9]:
final_DF.to_csv('../output/DC_packages_final_Rankings.csv', index = False)